/* Header Styles */
header {
    width: 1024px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    font-size: 12px;
}

nav {
    display: flex;
    align-items: center;
}

nav img {
    width: 40px
}